
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@500&family=VT323&display=swap');

body { 
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */   
    font-family: 'VT323', monospace;
}

#canvas { 
    width: 100%; 
    height: 100% 
}

#camera { 
    position: absolute; 
    left: 100px; 
    top: 20px; 
    width: 100px; 
    height: 100px; 
    color: lightgreen; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px; 
    z-index: 1000; 
}

#delete-me { 
    position: absolute; 
    left: 100px; 
    top: 200px; 
    width: 1000px; 
    height: 100px; 
    color: white; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px; 
    z-index: 1000; 
}

#overlay {
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    top: 8%;
    left: 1%;
}

#state {
    margin-top: 5px;
    font-size: 25px;
}
.flex {
    display: flex;
    margin-bottom: 0.5em;
}

.flex span:first-child {
    margin-right: 0.5em;
    font-weight: bold;
}

.velInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5em;
}

#hud {
    display: none;
}
#rotacoes {
    font-size: 150px;
    position: absolute;
    margin-right: 60px;
    color: #f7f7f7d8;
}

#speedometer {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(58, 58, 58, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 80%;
    top: 75%;
}

#raceInfo {
    display: flex;
    align-items: center;
}

#lapNum {
    font-size: 30px;
    color: white;
    margin-right: 0.5em;
    display: flex;
    align-items: baseline;
  }

#curLap, #totalLap, #state {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: inline-block; 
}

#curLap {
    font-size: 46px;
    margin-right: 0.1em; /
}

#totalLap {
    font-size: 30px;
}

#timeEla {
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(58, 58, 58, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    color: white;
    font-size: 30px;
    align-items: center;
    transform: skewX(-20deg); /* Adjust the skew angle as needed */
}

#timeEla span {
    transform: skewX(20deg); /* Counteract the skew for the text */
}

#speedometer .title {
    font-size: 30px;
    color: #f7f7f7ad;
    font-weight: bold;
}

#speedometer .number {
    font-size: 50px;
    color: #f7f7f7d8;
    font-weight: bold;
}

.loading-container {
    position: absolute;
}

svg {
    height: 210px;
    margin: auto;
    display: block;
  }

path {
    stroke-linecap: round;
    stroke-width: 4;
}

path.grey {
    stroke: lightgrey;
}

path.purple {
    stroke: rgb(117, 13, 13);
    stroke-dashoffset: 0;
    stroke-dasharray: calc(40 * 3.142 * 1.85 * 0.05) calc(40 * 3.142 * 1.85);
}